<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <a href="#main" class="go-to-content-link">Skip to main content</a>
    <header class="header" role="banner">
      <a href="/"><img src="<%= image_path "images/logo.svg" %>" alt="Logo"></a>

      <nav class="main-navigation">
        <ul>
          <li><%= link_to_active "Home", "/" %></li>
          <li><%= link_to_active "Sponsorships", "/sponsorships/" %></li>
          <li><%= link_to_active "About", "/about/" %></li>
        </ul>
      </nav>
    </header>

    <main id="main">
      <%= yield %>
    </main>
  </body>
</html>
